* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("./../assests/image7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  margin: 0;
  padding: 0;
}

.card {
  border: 1px white solid;
  border-radius: 5px;
  margin-right: 20px;
  float: left;
}

.backImg {
  height: 200px;
  width: 100px;
}
